.sections {
  display: flex;
  justify-content: space-between;
}

.changeColor {
  background: #bfbfbf;
  width: 32%;
  height: 15px;
  border-radius: 6px;
  display: inline-block;
}

input {
  font-size: 125%;
  border-radius: 8px;
  height: 40px;
  width: 100%;
  border: solid 2px #2c2c2c;
}
