/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: bisque;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

app-root {
  border-radius: 14px;
  padding: 5%;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px, rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
}
